#empty-junit-container {
  color: #e8e8e8;
  text-align: center;
  padding-bottom: 10px;
}

.hidden-tests {
  visibility: collapse;
  display: none;
}

.hidden {
  display: none;
}

.noselect {
  user-select: none;
}
.expander {
  font-weight:bold;
  font-size:1.5em;
}

.expander:last-of-type {
  text-align: right;
}

td.failed {
  color: #FF9999;
}

td.group {
  color: #FFD699;
}

td.flaky {
  color: #dd99dd;
}

td.passed {
  color: #61ff61;
}

td.skipped {
  color: #ffe62d;
}

.detail-layout {
  width: 100%;
  border-collapse: collapse;
}

.detail-layout td {
  border: 0;
  padding: 0;
}

.detail-name {
  cursor: pointer;
}

td {
  white-space: normal !important;
}

/* We are engaged in a never-ending war of cascade escalation against MDL */
#failed-tbody > tr:hover, .group-tbody > tr:hover, #flaky-tbody > tr:hover {
  background-color: unset !important;
}

table.detail-layout tbody tr.detail-text:hover {
  background-color: unset !important;
}

.detail-text div {
  padding-left: 20px;
  padding-right: 20px;
  white-space: pre-wrap;
  font-family: monospace;
  padding-bottom: 10px;
}

.detail-text td {
  padding-bottom: 15px;
}

.arrow-icon {
  vertical-align: middle;
}

.group-header {
  margin: 20px 0 5px 16px;
  color: #e8e8e8;
}
