{{define "title"}}Configured Jobs{{end}}
{{define "scripts"}}
<link rel="stylesheet" href="/static/dialog-polyfill.css?v={{deckVersion}}">
<link rel="stylesheet" href="/static/common/prettify.css?v={{deckVersion}}">

<script type="text/javascript">
    let repos = {{.Repos}}
</script>
<script type="text/javascript" src="/static/configured_jobs_bundle.min.js?v={{deckVersion}}"></script>
{{end}}
{{define "content"}}
<div id="job-container">
    {{ range .Repos }}
        <h2 class="repo-name">{{.Org.Name}}/{{.Name}}</h2>
        <div id="job-container-{{.SafeName}}" class="job-container">
            <p>Loading...</p>
        </div>
    {{ end }}
</div>
{{end}}

{{define "extra content"}}
<dialog id="job-dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title"></h4>
    <div class="mdl-dialog__content">
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
    </div>
</dialog>
{{end}}

{{template "page" (settings mobileUnfriendly lightMode "configured-jobs" .)}}
