+++
title = "Prow"
linkTitle = "Prow"

+++

{{< blocks/cover title="Welcome to the Prow documentation site!" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubernetes/test-infra/tree/master/prow">
		Get the code <i class="fab fa-github ml-2 "></i>
	</a>
    <br />
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
Did you know that [Kubernetes](https://github.com/kubernetes/kubernetes) uses Prow to test PRs? And of course, Prow itself runs on Kubernetes. Inception!
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
Check out the [Community](/community/) page for more information on how to contribute!
{{% /blocks/feature %}}

{{< /blocks/section >}}
